.signinpage {
  align-items: center;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  height: 100vh;

  .container {
    border: 2px solid gray;
    box-shadow: -5px 5px darkgray;
    height: 500px;
    overflow: hidden;
    width: 500px;
  }

  .top {
    background-color: white;
    border: none;
    text-align: center;
  }

  .body {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
